{% extends 'base.html' %}
{% block abc %}

    <h2>{{ article.title }}</h2>
    <br>
    {{ article.content|safe }}
    {% csrf_token %}
    <div id="div_digg1">
        <div class="diggit abc">
            <span class="diggnum " id="digg_count ">{{ article.up_count }}</span>
        </div>
        <div class="buryit1 abc">
            <span class="burynum " id="bury_count ">{{ article.down_count }}</span>
        </div>
        <div class="clear"></div>
        <div class="diggword" id="digg_tips1">
        </div>
    </div>
     <div class="comment">
            <p>评论列表</p>
            <ul class="comment_list list-group">
                {% for comment in comment_list %}
                <li class="list-group-item">
                   <div>
                       <a href="">#{{ forloop.counter }}楼</a>&nbsp;&nbsp;
                       <span class="small">{{ comment.create_time|date:"Y-m-d H:i" }}</span>&nbsp;&nbsp;
                       <a href="">{{ comment.user.username }}</a>
                       <a href="javascript:void(0)" class="pull-right reply_btn" username="{{ comment.user.username }}" comment_id="{{ comment.pk }}"><span>回复</span></a>

                   </div>
                    {% if comment.parent_comment_id %}
                    <div class="parent_comment_info well">
                         <p>
                             {{ comment.parent_comment.user }}: {{ comment.parent_comment.content }}
                         </p>
                    </div>
                    {% endif %}
                   <div>
                       <p>{{ comment.content }}</p>
                   </div>
                </li>
                {% endfor %}

            </ul>
            <p>发表评论</p>
            <p>昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50" value="{{ request.user.username }}"></p>
            <div>
                <textarea name="" id="comment_content" cols="60" rows="10"></textarea>
            </div>
            <input type="button" value="submit" class="btn btn-default comment_btn">
        </div>

    <script>
        var key = $("input[name='csrfmiddlewaretoken']").val();

        $('.abc').click(function () {
            var is_up = $(this).hasClass('diggit');
            var _this = $(this);

            $.ajax({
                url: '/check/',
                type: 'post',
                data: {
                    'csrfmiddlewaretoken': key,
                    'art_id': "{{ article.pk }}", 'is_up': is_up
                },
                success: function (data) {
                    if (data.state) {
                        var val = _this.text();
                        _this.text(parseInt(val) + 1);

                    } else {
                        // 重复提交
                        var val1 = data.msg ? "您已经推荐过！" : "您已经反对过！";

                        $("#digg_tips1").html(val1).css('color','red');

                    }
                    setTimeout(function () {

                        $("#digg_tips1").html("")
                    }, 1000)
                   }
                })
        });
     var pid="";
            $(".comment_btn").click(function () {

                var content=$("#comment_content").val();
                if(pid){
                     var index=content.indexOf("\n");
                     content=content.slice(index+1)
                }

                $.ajax({
                        url: "/comment/",
                        type: "post",
                        data: {
                            content:content,
                            article_id: "{{ article.pk }}",
                            pid:pid,
                            csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                        },
                        success: function (data){
                              console.log(data);
                              var comment_time=data.timer;
                              var comment_content=data.content;
                              var comment_user=data.user;

                              var $li=` <li class="list-group-item">
                                       <div>
                                           <span class="small">${comment_time}</span>&nbsp;&nbsp;
                                           <a href="">${comment_user}</a>
                                       </div>
                                       <div>
                                           <p>${comment_content}</p>
                                       </div>
                                    </li>`;

                              $(".comment_list").append($li);







                             // 清空
                            $("#comment_content").val("")
                        }
                })

            });


            // 回复按钮事件
            $(".reply_btn").click(function () {
                  $("#comment_content").focus();
                  var val="@"+$(this).attr("username")+"\n";
                $("#comment_content").val(val);

                pid=$(this).attr("comment_id");

            })



    </script>
{% endblock %}